
.astros-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
    padding: 20px;
}


.astro-card {
    background-color: #1e2a38;
    color: #ecf0f1;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.astro-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}

.astro-name {
    font-size: 1.2rem;
    font-weight: bold;
    margin: 10px 0;
}


.astro-craft {
    font-size: 1rem;
    color: #bdc3c7;
}

